.rap-container {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rap-instructions {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.rap-preview-box {
  margin-top: 20px;
  text-align: center;
}

.rap-preview-img {
  height: 180px;
  object-fit: contain;
  border-radius: 12px;
}

.rap-preview-text {
  margin-top: 12px;
  color: #00ff99;
  font-weight: bold;
}

.rap-bottom {
  margin-top: auto;
  text-align: center;
  padding-bottom: 20px;
}
